.MatchDetailCard{
 display: grid;
 grid-template-columns: 1fr 1fr;
padding-top: 10px;
    .otherteam{
        font-size: 3vw;

        span{
            font-size: 2vw;
        }
    }
    .otherteam ,.matchdate, .matchvenue , .matchwinner{
        margin-top: 0.8em;
    }
    .innings-detail{
        text-align: right;
        margin-right: 3vw;
        p{
            margin-bottom: 2vw;
        }
    }
}
.won{
    background-color:rgb(0, 255, 76);
}
.lost{
    background-color: rgb(255, 67, 67);
}